DATABASE_URL=postgresql://user:password@localhost:5432/volta_email_2
NEXT_PUBLIC_APP_URL=http://localhost:3000
MAILCHIMP_API_KEY=
MAILCHIMP_SERVER_PREFIX=us1
MAILCHIMP_LIST_ID=
MAILCHIMP_FROM_NAME="Volta Innovation Hub"
MAILCHIMP_REPLY_TO="newsletter@voltaeffect.com"
